@import "../vars"

.mini
  @mixin absolute-sized($suffix, $ver, $hor)
    .b-l, .on-bottom-left, .b-r, .on-bottom-right
      margin-top: $ver !important

    .t-l, .on-top-left, .t-r, .on-top-right
      margin-bottom: $ver !important
  
    .l-b, .on-left-bottom, .l-t, .on-left-top
      margin: 0 $ver 0 $ver !important

    .r-b, .on-right-bottom, .r-t, .on-right-top
      margin: 0 $ver 0 $ver !important

  .b-l, .on-bottom-left
    bottom: auto
    left: 0
    position: absolute !important
    right: auto
    top: 100%

  .b-r, .on-bottom-right
    bottom: auto
    left: auto
    position: absolute !important
    right: 0
    top: 100%

  .l-b, .on-left-bottom
    bottom: 0
    left: auto
    position: absolute !important
    right: 100%
    top: auto

  .l-t, .on-left-top
    bottom: auto
    left: auto
    position: absolute !important
    right: 100%
    top: 0

  .r-b, .on-right-bottom
    bottom: 0
    left: 100%
    position: absolute !important
    right: auto
    top: auto

  .r-t, .on-right-top
    bottom: auto
    left: 100%
    position: absolute !important
    right: auto
    top: 0

  .t-l, .on-top-left
    bottom: 100%
    left: 0
    margin: 0 !important
    position: absolute !important
    right: auto
    top: auto

  .t-r, .on-top-right
    bottom: 100%
    left: auto
    margin: 0 !important
    position: absolute !important
    right: 0
    top: auto

  @if $sml
    .sml
      @include absolute-sized(null, $sml-vertical, $sml-horizontal)

  @if $med
    .med
      @include absolute-sized(null, $med-vertical, $med-horizontal)

  @if $lrg
    .lrg
      @include absolute-sized(null, $lrg-vertical, $lrg-horizontal)
