@import ../vars

.mini
  .back-light, &.back-light
    .back-color
      background-color: hsl(0, 0%, 99%)

    background-color: hsl(0, 0%, 99%)

  .back-medium, &.back-medium
    .back-color
      background-color: hsl(0, 0%, 97%)

    background-color: hsl(0, 0%, 97%)

  .back-dark, &.back-dark
    .back-color
      background-color: hsl(0, 0%, 95%)

    background-color: hsl(0, 0%, 95%)
