@import ../vars

.mini
  .back-light, &.back-light
    background-color: hsl(0, 0%, 99%)

  .back-medium, &.back-medium
    background-color: hsl(0, 0%, 97%)

  .back-dark, &.back-dark
    background-color: hsl(0, 0%, 95%)
