@import ../vars

.mini
  .bg-light, &.bg-light
    background-color: hsl(0, 0%, 99%)

  .bg-medium, &.bg-medium
    background-color: hsl(0, 0%, 97%)

  .bg-dark, &.bg-dark
    background-color: hsl(0, 0%, 95%)
