@import ../vars

.mini
    .frame
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 0

    .frame-fixed
        position: fixed
        bottom: 0
        left: 0
        right: 0
        top: 0

    .no-scroll, &.no-scroll
        overflow: hidden

    .no-scroll-x, &.no-scroll-x
        overflow-x: hidden

    .no-scroll-y, &.no-scroll-y
        overflow-y: hidden

    .scroll-x, &.scroll-x
        overflow-x: scroll
        overflow-y: hidden

    .scroll-y, &.scroll-y
        overflow-x: hidden
        overflow-y: scroll
