@import ../vars

.mini
  .clear
    margin: 0 !important
    padding: 0 !important

  .clear-margin
    margin: 0 !important

  .clear-m-l
    margin-left: 0 !important

  .clear-m-r
    margin-right: 0 !important

  .clear-m-t
    margin-top: 0 !important

  .clear-m-b
    margin-bottom: 0 !important

  .clear-padding
    padding: 0 !important

  .clear-p-l
    padding-left: 0 !important

  .clear-p-r
    padding-right: 0 !important
  
  .clear-p-t
    padding-top: 0 !important

  .clear-p-b
    padding-bottom: 0 !important
