@import ../vars

.mini
  .clear
    margin: 0 !important
    padding: 0 !important

  .clear-margin
    margin: 0 !important

  .clear-ml
    margin-left: 0 !important

  .clear-mr
    margin-right: 0 !important

  .clear-mt
    margin-top: 0 !important

  .clear-mb
    margin-bottom: 0 !important

  .clear-padding
    padding: 0 !important

  .clear-pl
    padding-left: 0 !important

  .clear-pr
    padding-right: 0 !important
  
  .clear-pt
    padding-top: 0 !important

  .clear-pb
    padding-bottom: 0 !important
