@import ../vars

.mini
  .ripped
    border-bottom-left-radius: 0 !important
    border-bottom-right-radius: 0 !important

    &:after
      content: ''
      border-bottom: 3px dotted white !important
      display: block
      position: absolute
      left: 0
      height: 4px
      width: 100%

  .rounded
    border-radius: 1000px !important

  .transparent
    background-color: transparent !important

  .unbound
    border-color: transparent !important
