@import ../vars

.mini
  .flex
    &-center
      justify-content: center

    &-end
      align-items: flex-end
    
    &-left
      justify-content: left

    &-middle
      align-items: center

    &-right
      justify-content: right

    &-start
      align-items: flex-start

    &-hor
      flex-direction: row
      flex-wrap: wrap

      &>*
        flex: 1
  
    &-ver
      flex-direction: column
      flex-wrap: nowrap

      &>*
        flex: 1

    display: flex

  @for $i from 1 through $grid-cells
    @if $i < 10
      .flex-#{$i}
        flex: $i
    @else
      .flex#{$i}
        flex: $i
