@import "../vars"
@import "absolute"
@import "absolute.rtl"
@import "bg"
@import "block"
@import "controls"
@import "effect"
@import "elements"
@import "fine"
@import "flex"
@import "font"
@import "opacity"
@import "overflow"
@import "paddings"
@import "paddings.rtl"
@import "rtl"
@import "shadow"
@import "text"
@import "text.rtl"
@import "zebra"

@import "clear"
@import "colors"

.mini
  .auto
    height: auto
    flex: auto
    position: relative
    width: auto

  .children-middle
    &>*
      vertical-align: middle
  
  .disabled
    cursor: not-allowed !important
    opacity: 0.5

  .hidden
    display: none

  .h-auto
    flex: none
    height: auto !important

  .w-auto
    flex: none
    width: auto !important
