@import ../vars

.mini
  .sml
    .left-padded
      &.double
        padding-left: $sml-horizontal * 2 !important

      &.triple
        padding-left: $sml-horizontal * 2 !important

      padding-left: $sml-horizontal !important

  .med
    .left-padded
      &.double
        padding-left: $med-horizontal * 2 !important

      &.triple
        padding-left: $med-horizontal * 2 !important

      padding-left: $med-horizontal !important

  .lrg
    .left-padded
      &.double
        padding-left: $lrg-horizontal * 2 !important

      &.triple
        padding-left: $lrg-horizontal * 2 !important

      padding-left: $lrg-horizontal !important
