@import ../vars

.mini
  .pad-hor
    &.double
      padding-left: calc(var(--d-h) * 2) !important
      padding-right: calc(var(--d-h) * 2) !important

    &.triple
      padding-left: calc(var(--d-h) * 3) !important
      padding-right: calc(var(--d-h) * 3) !important

    padding-left: var(--d-h) !important
    padding-right: var(--d-h) !important
