@import ../vars

.mini
  .span
    &.failure
      color: $col-failure-d-2

    &.primary
      color: $col-primary-d-2

    &.success
      color: $col-success-d-2

    &.warning
      color: $col-warning-d-2

    color: $col-default-d-2
