@import ../vars

.mini
  .span
    &.failure
      color: $col-failure-dark-4

    &.primary
      color: $col-primary-dark-4

    &.success
      color: $col-success-dark-4

    &.warning
      color: $col-warning-dark-4

    color: $col-default-dark-4
