@import ../vars

.mini
  .span
    &.failure
      color: darken($col-failure, $col-failure-ratio * 0.0 * 100%)

    &.primary
      color: darken($col-primary, $col-primary-ratio * 0.0 * 100%)

    &.success
      color: darken($col-success, $col-success-ratio * 0.0 * 100%)

    &.warning
      color: darken($col-warning, $col-warning-ratio * 0.0 * 100%)

    color: darken($col-default, $col-default-ratio * 0.0 * 100%)
