@import "controls/index"
@import "decorators/index"
@import "grids/index"
@import "mock/index"

html, body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  height: 100%
  margin: 0
  padding: 0

.mini
  *
    box-sizing: border-box

  .container
    height: 100%
    margin-left: auto
    margin-right: auto

  .col
    display: flex
    flex-direction: column
    flex-wrap: none
    // display: block
    position: relative

  .cow, .row
    display: flex
    flex-direction: row
    flex-wrap: wrap
    // display: block
    position: relative

  // .cow:after, .row:after
  //   clear: both

  .cow:after, .cow:before, .row:after, .row:before
    display: table
    content: " "
  
  .max-height
    height: 100%
  
  .max-width
    width: 100%

  height: 100%
