@import ../vars

.mini
  @mixin group()
    .ltr
      .group
        &.group-hor
          &>.alert:first-child:not(:last-child), &>.button:first-child:not(:last-child), &>.control:first-child:not(:last-child)
            border-bottom-right-radius: 0 !important
            border-right-width: 1px !important
            border-top-right-radius: 0 !important

          &>.alert:last-child:not(:first-child), &>.button:last-child:not(:first-child), &>.control:last-child:not(:first-child)
            border-bottom-left-radius: 0 !important
            border-left-width: 1px !important
            border-top-left-radius: 0 !important

  @include group()

  .group
    font-size: 0

    &.group-hor
      &>.alert:not(:first-child):not(:last-child), &>.button:not(:first-child):not(:last-child), &>.control:not(:first-child):not(:last-child)
        border-left-width: 1px !important
        border-right-width: 1px !important
        border-radius: 0 !important
