@import ../vars

.mini
  .badge
    border-radius: 2000px
    display: inline-block
    line-height: 1
    padding: calc(var(--d-v) / 2) var(--d-h)

  // color

  .badge
    background-color: $col-primary
    color: $col

  .badge:is(.default, .failure, .primary, .success, .warning)
    background-color: var(--c-i)
