@import ../vars

.mini
  @mixin blockquote($prefix, $color)
    @if $prefix == null
      .blockquote
        border-left: 2px $color solid
    @else
      .blockquote.#{$prefix}
        border-left: 2px $color solid

  .blockquote
    padding-left: calc(var(--d-h) * 2 - 2px)

  @include blockquote(null, $col-default)

  @include blockquote('default', $col-default)

  @include blockquote('failure', $col-failure)

  @include blockquote('primary', $col-primary)

  @include blockquote('success', $col-success)

  @include blockquote('warning', $col-warning)
