@import ../vars

.mini
  .blockquote
    background-color: var(--c-bg-d-2)
    margin-bottom: var(--d-v)
    margin-top: var(--d-v)
    margin-inline-start: 0
    margin-inline-end: 0
    padding-bottom: calc(var(--d-v) * 2)
    padding-left: calc(var(--d-h) * var(--d-l-m) * 2)
    padding-right: calc(var(--d-h) * var(--d-r-m) * 2)
    padding-top: calc(var(--d-v) * 2)

  // color

  .blockquote
    border-left: calc(var(--d-b-w) * 2 * var(--d-l-m)) $col-default-l-3 solid
    border-right: calc(var(--d-b-w) * 2 * var(--d-r-m)) $col-default-l-3 solid

  .blockquote:is(.default, .failure, .primary, .success, .warning)
    border-left: calc(var(--d-b-w) * 2 * var(--d-l-m)) var(--c-l-3) solid
    border-right: calc(var(--d-b-w) * 2 * var(--d-r-m)) var(--c-l-3) solid
