@import ../vars

.mini
  .blockquote
    margin-bottom: var(--d-v)
    margin-top: var(--d-v)
    margin-inline-start: 0
    margin-inline-end: 0
    padding-bottom: var(--d-v)
    padding-left: calc(var(--d-h-l) * 2 - var(--d-b-w))
    padding-right: calc(var(--d-h-r) * 2 - var(--d-b-w))
    padding-top: var(--d-v)

  // color

  .blockquote
    border-left: var(--d-b-w) $col-default solid

  .blockquote:is(.default, .failure, .primary, .success, .warning)
    border-left: var(--d-b-w) var(--c-i) solid
