@import "../vars"

.mini
  @mixin breadcrumbs-sized($suffix, $ver, $hor)
    // @if $suffix == null
    //   .breadcrumbs
    //     &>.breadcrumb:after
    //       padding: 0 $hor

    //     margin-bottom: $ver
    //     margin-top: $ver

    // @else
    .breadcrumbs.breadcrumbs-#{$suffix}
      &>.breadcrumb:after
        padding: 0 $hor

  .breadcrumbs
    &>.breadcrumb:after
      padding: 0 var(--d-h)

    margin-bottom: var(--d-v)
    margin-top: var(--d-v)

  // @if $sml
  //   .sml
  //     @include breadcrumbs-sized(null, $sml-vertical, $sml-horizontal)

  // @if $med
  //   .med
  //     @include breadcrumbs-sized(null, $med-vertical, $med-horizontal)

  // @if $lrg
  //   .lrg
  //     @include breadcrumbs-sized(null, $lrg-vertical, $lrg-horizontal)

  @if $sml
    @include breadcrumbs-sized('sml', $sml-vertical, $sml-horizontal)

  @if $med
    @include breadcrumbs-sized('med', $med-vertical, $med-horizontal)

  @if $lrg
    @include breadcrumbs-sized('lrg', $lrg-vertical, $lrg-horizontal)

  .breadcrumbs
    display: block

    &:after
      clear: both

    &:after, &:before
      display: table
      content: " "

    &>.breadcrumb
      &.active
        font-weight: bolder

      &:not(.active)
        &:after
          color: $col-default
          content: "→"

        color: $col-primary
