@import ../vars

.mini
  @mixin button-sized($suffix, $border-radius, $border-width, $font-size, $height, $ver, $hor)
    .button.button-#{$suffix}
      font-size: calc($font-size * 0.8)
      height: $height
      min-height: $height

  .button
    &:hover
      @include hover()

    &:active:not(.disabled)
      @include active()

    align-items: center
    cursor: pointer
    display: flex
    justify-content: center
    outline-width: 4px
    text-align: center
    text-transform: uppercase
  
  .button
    border-radius: var(--d-b-r)
    border-width: var(--d-b-w)
    font-size: calc(var(--d-f-s) * 0.8)
    height: var(--d-1)
    line-height: 2.5
    margin-bottom: var(--d-v)
    margin-top: var(--d-v)
    min-height: var(--d-1)
    padding: calc(var(--d-v) + var(--d-f-s) * 0.1) var(--d-h)

  a.button
    text-decoration: none

  // color

  .button
    &:active:not(.disabled), &.active
      background-color: $col-primary-d-2 !important
      border-color: $col-primary-d-2
      color: $col !important

    &:hover, &:focus
      background-color: $col-primary-d-1 !important
      border-color: $col-primary-d-1
      color: $col !important

    &.transparent
      color: $col-primary

    background: $col-primary
    border-color: $col-primary
    color: $col

  .button:is(.default, .failure, .primary, .success, .warning)
    &:active:not(.disabled), &.active
      background-color: var(--c-d-2) !important
      border-color: var(--c-d-2)
      color: var(--c) !important

    &:hover, &:focus
      background-color: var(--c-d-1) !important
      border-color: var(--c-d-1)
      color: var(--c) !important
  
    &.transparent
      color: var(--c-i)

    background: var(--c-i)
    border-color: var(--c-i)
    color: $col

  @if $sml
    @include button-sized('sml', $sml-border-radius, $sml-border-width, $sml-font-size, $sml-1, $sml-vertical, $sml-horizontal)

  @if $med
    @include button-sized('med', $med-border-radius, $med-border-width, $med-font-size, $med-1, $med-vertical, $med-horizontal)

  @if $lrg
    @include button-sized('lrg', $lrg-border-radius, $lrg-border-width, $lrg-font-size, $lrg-1, $lrg-vertical, $lrg-horizontal)
