@import ../vars

.mini
  @mixin caption($prefix, $color, $font-weight)
    @if $prefix == null
      .caption
        color: $color
        font-weight: $font-weight
    @else
      .caption.#{$prefix}
        color: $color
        font-weight: $font-weight

  @mixin caption-sized($suffix, $font-size, $font-size-ratio, $ver, $hor)
    // @if $suffix == null
    //   .caption
    //     font-size: calc($font-size * $font-size-ratio)
    //     padding: $ver 0 // $hor

    //     &.larger
    //       font-size: calc($font-size * ($font-size-ratio + 0.5))

    //     &.largest
    //       font-size: calc($font-size * ($font-size-ratio + 1))

    //     &.smaller
    //       font-size: calc($font-size * ($font-size-ratio - 0.25))

    //     &.smallest
    //       font-size: calc($font-size * ($font-size-ratio - 0.5))
    // @else
    .caption.caption-#{$suffix}
      font-size: calc($font-size * $font-size-ratio)

  .caption
    font-size: calc(var(--d-f-s) * 1.5)
    padding: var(--d-v) 0 // $hor

    &.larger
      font-size: calc(var(--d-f-s) * (1.5 + 0.5))

    &.largest
      font-size: calc(var(--d-f-s) * (1.5 + 1))

    &.smaller
      font-size: calc(var(--d-f-s) * (1.5 - 0.25))

    &.smallest
      font-size: calc(var(--d-f-s) * (1.5 - 0.5))

  @include caption(null, $col-default-d-4, $font-bold)

  @include caption('default', $col-default-d-4, $font-bold)

  @include caption('failure', $col-failure-d-4, $font-bold)

  @include caption('primary', $col-primary-d-4, $font-bold)

  @include caption('success', $col-success-d-4, $font-bold)

  @include caption('warning', $col-warning-d-4, $font-bold)

  // @if $sml
  //   .sml
  //     @include caption-sized(null, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  // @if $med
  //   .med
  //     @include caption-sized(null, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  // @if $lrg
  //   .lrg
  //     @include caption-sized(null, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  @if $sml
    @include caption-sized('sml', $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @if $med
    @include caption-sized('med', $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @if $lrg
    @include caption-sized('lrg', $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  .caption
    display: block
