@import ../vars

.mini
  @mixin caption-sized($suffix, $font-size, $font-size-ratio, $ver, $hor)
    .caption.caption-#{$suffix}
      font-size: calc($font-size * $font-size-ratio)

  .caption
    font-size: calc(var(--d-f-s) * 1.5)
    font-weight: $font-bold
    padding: var(--d-v) 0 // $hor

    &.larger
      font-size: calc(var(--d-f-s) * (1.5 + 0.5))

    &.largest
      font-size: calc(var(--d-f-s) * (1.5 + 1))

    &.smaller
      font-size: calc(var(--d-f-s) * (1.5 - 0.25))

    &.smallest
      font-size: calc(var(--d-f-s) * (1.5 - 0.5))

  // color

  .caption
    color: $col-default-d-4

  .caption:is(.default, .failure, .primary, .success, .warning)
    color: var(--c-d-4)


  @if $sml
    @include caption-sized('sml', $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @if $med
    @include caption-sized('med', $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @if $lrg
    @include caption-sized('lrg', $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  .caption
    display: block
