@import ../vars

.mini
  .code
    &:not(.inline)
      white-space: pre-wrap
      word-break: break-all
      word-wrap: break-word

    &.code-dark
      background-color: $col-inverted
      color: white

    background-color: white
    color: black
    font-family: monospace
