@import ../vars

.mini
  @mixin control($prefix, $bg-color, $border-color, $color, $transparent-color)
    @if $prefix == null
      .control
        &.transparent
          color: $border-color

        background-color: $bg-color
        border-color: $border-color
        color: $color
    @else
      .control.#{$prefix}
        &.transparent
          color: $border-color

        background-color: $bg-color
        border-color: $border-color
        color: $color

  @mixin control-hover($prefix, $bg-color, $border-color, $color, $transparent-color)
    @if $prefix == null
      .control:hover, .control:focus
        border-color: $border-color
    @else
      .control:hover.#{$prefix}, .control:focus.#{$prefix}
        border-color: $border-color

  @mixin control-sized($suffix, $border-radius, $border-width, $font-size, $height, $ver, $hor)
    @if $suffix == null
      .control
        border-radius: $border-radius
        border-width: $border-width
        font-size: calc($font-size * 0.8)
        height: $height
        margin-bottom: $ver
        margin-top: $ver
        min-height: $height

        @if $normalize-css
          padding: $ver calc($hor - 2px)
        @else
          padding: $ver $hor
    @else
      .control.control-#{$suffix}
        border-radius: $border-radius
        border-width: $border-width
        font-size: calc($font-size * 0.8)
        height: $height
        min-height: $height

    @if $normalize-css
      textarea.control, a.button
        padding: $ver $hor

  @include control(null, $col, $col-default, $col-default, $col-default)
  @include control-hover(null, $col, $col-default-d-1, $col-default, $col-default-d-1)

  @include control('default', $col, $col-default, $col-default, $col-default)
  @include control-hover('default', $col, $col-default-d-1, $col-default, $col-default-d-1)

  @include control('failure', $col, $col-failure, $col-failure, $col-failure)
  @include control-hover('failure', $col, $col-failure-d-1, $col-failure, $col-failure-d-1)

  @include control('primary', $col, $col-primary, $col-primary, $col-primary)
  @include control-hover('primary', $col, $col-primary-d-1, $col-primary, $col-primary-d-1)

  @include control('success', $col, $col-success, $col-success, $col-success)
  @include control-hover('success', $col, $col-success-d-1, $col-success, $col-success-d-1)

  @include control('warning', $col, $col-warning, $col-warning, $col-warning)
  @include control-hover('warning', $col, $col-warning-d-1, $col-warning, $col-warning-d-1)

  @if $sml
    .sml
      @include control-sized(null, $sml-border-radius, $sml-border-width, $sml-font-size, $sml-1, $sml-vertical, $sml-horizontal)

  @if $med
    .med
      @include control-sized(null, $med-border-radius, $med-border-width, $med-font-size, $med-1, $med-vertical, $med-horizontal)

  @if $lrg
    .lrg
      @include control-sized(null, $lrg-border-radius, $lrg-border-width, $lrg-font-size, $lrg-1, $lrg-vertical, $lrg-horizontal)

  @if $sml
    @include control-sized('sml', $sml-border-radius, $sml-border-width, $sml-font-size, $sml-1, $sml-vertical, $sml-horizontal)

  @if $med
    @include control-sized('med', $med-border-radius, $med-border-width, $med-font-size, $med-1, $med-vertical, $med-horizontal)

  @if $lrg
    @include control-sized('lrg', $lrg-border-radius, $lrg-border-width, $lrg-font-size, $lrg-1, $lrg-vertical, $lrg-horizontal)

  textarea.control
    height: auto !important
