@import ../vars

.mini
  @mixin divider-sized($suffix, $height, $ver, $hor)
    .divider.divider-#{$suffix}
      border-top-width: $height
      height: $height
      min-height: $height
      margin: $ver $hor

  .divider
    border-top-width: var(--d-b-w)
    height: var(--d-b-w)
    min-height: var(--d-b-w)
    margin: var(--d-v) var(--d-h)

  // color

  .divider
    border-top-color: $col-default-l-3

    &.top
      border-top-color: $col-default

  .divider:is(#{$colors})
    border-top-color: var(--c-l-3)

    &.top
      border-top-color: val(--c-i)

  @if $sml
    @include divider-sized('sml', $sml-border-width, $sml-vertical, $sml-horizontal)

  @if $med
    @include divider-sized('med', $med-border-width, $med-vertical, $med-horizontal)

  @if $lrg
    @include divider-sized('lrg', $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  .divider
    border-top-style: solid
    clear: both
    width: 100%
