@import ../vars

.mini
  @mixin divider($prefix, $color, $color-top)
    @if $prefix == null
      .divider
        border-top-color: $color

        &.top
          border-top-color: $color-top
    @else
      .divider.#{$prefix}
        border-top-color: $color

        &.top
          border-top-color: $color-top

  @mixin divider-sized($suffix, $height, $ver, $hor)
    @if $suffix == null
      .divider
        border-top-width: $height
        height: $height
        min-height: $height
        margin: $ver $hor
    @else
      .divider.divider-#{$suffix}
        border-top-width: $height
        height: $height
        min-height: $height
        margin: $ver $hor

  @include divider(null, $col-default-light-3, $col-default)

  @include divider('default', $col-default-light-3, $col-default)

  @include divider('failure', $col-failure-light-3, $col-failure)

  @include divider('primary', $col-primary-light-3, $col-primary)

  @include divider('success', $col-success-light-3, $col-success)

  @include divider('warning', $col-warning-light-3, $col-warning)

  @if $sml
    .sml
      @include divider-sized(null, $sml-border-width, $sml-vertical, $sml-horizontal)

  @if $med
    .med
      @include divider-sized(null, $med-border-width, $med-vertical, $med-horizontal)

  @if $lrg
    .lrg
      @include divider-sized(null, $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  @if $sml
    @include divider-sized('sml', $sml-border-width, $sml-vertical, $sml-horizontal)

  @if $med
    @include divider-sized('med', $med-border-width, $med-vertical, $med-horizontal)

  @if $lrg
    @include divider-sized('lrg', $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  .divider
    border-top-style: solid
    clear: both
    width: 100%
