@import ../vars

.mini
  .sml
    @if $sml
      .gap
        height: $sml-vertical * 2
        min-height: $sml-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $sml-vertical

  @if $med
    .med
      .gap
        height: $med-vertical * 2
        min-height: $med-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $med-vertical

      .children-gap-full>*
        margin-top: $med-vertical

      .children-gap-full>*:last-child
        margin-bottom: $med-vertical

  @if $lrg
    .lrg
      .gap
        height: $lrg-vertical * 2
        min-height: $lrg-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $lrg-vertical

  // .gap.gap-sml
  //   height: $sml-vertical * 2
  //   min-height: $sml-vertical * 2

  // .gap.gap-med
  //   height: $med-vertical * 2
  //   min-height: $med-vertical * 2

  // .gap.gap-lrg
  //   height: $lrg-vertical * 2
  //   min-height: $lrg-vertical * 2
