@import ../vars

.mini
  .sml
    @if $sml
      .gap
        height: $sml-vertical * 2
        min-height: $sml-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $sml-vertical * 2

      .children-gap-full>*
        margin-top: $sml-vertical * 2

      .children-gap-full>*:last-child
        margin-bottom: $sml-vertical * 2

      .children-gap-top>*
        margin-top: $sml-vertical * 2

  @if $med
    .med
      .gap
        height: $med-vertical * 2
        min-height: $med-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $med-vertical * 2

      .children-gap-full>*
        margin-top: $med-vertical * 2

      .children-gap-full>*:last-child
        margin-bottom: $med-vertical * 2

      .children-gap-top>*
        margin-top: $med-vertical * 2

  @if $lrg
    .lrg
      .gap
        height: $lrg-vertical * 2
        min-height: $lrg-vertical * 2

      .children-gap>*:not(:first-child)
        margin-top: $lrg-vertical * 2

      .children-gap-full>*
        margin-top: $lrg-vertical * 2

      .children-gap-full>*:last-child
        margin-bottom: $lrg-vertical * 2

      .children-gap-top>*
        margin-top: $lrg-vertical * 2
