@import ../vars

.mini
  @mixin label-sized($suffix, $font-size, $font-size-ratio, $ver, $hor)
    .label.label-#{$suffix}
      font-size: calc($font-size * $font-size-ratio)

  .label
    font-size: calc(var(--d-f-s) * 0.8)
    font-weight: 500

  // color

  .label
    color: $col-default-l-1

  .label:is(#{$colors})
    color: var(--c-l-1)

  @if $sml
    @include label-sized('sml', $sml-font-size, 0.8, $sml-vertical, $sml-horizontal)

  @if $med
    @include label-sized('med', $med-font-size, 0.8, $med-vertical, $med-horizontal)

  @if $lrg
    @include label-sized('lrg', $lrg-font-size, 0.8, $lrg-vertical, $lrg-horizontal)

  .label
    display: block
