@import ../vars

.mini
  @mixin link($prefix, $color, $font-weight)
    @if $prefix == null
      .link
        color: $color
        font-weight: $font-weight
    @else
      .link.#{$prefix}
        color: $color
        font-weight: $font-weight

  @mixin link-hover($prefix, $color, $font-weight)
    @if $prefix == null
      .link:hover
        color: $color
    @else
      .link:hover.#{$prefix}
        color: $color

  @mixin link-active($prefix, $color, $font-weight)
    @if $prefix == null
      .link:active
        color: $color
    @else
      .link:active.#{$prefix}
        color: $color

  .link
    &:hover
      @include hover()

    &:active:not(.disabled)
      @include active()

    cursor: pointer
    display: inline-block

  @include link(null, $col-primary, inherit)
  @include link-hover(null, $col-primary-dark-1, inherit)
  @include link-active(null, $col-primary-dark-2, inherit)

  @include link('default', $col-default, inherit)
  @include link-hover('default', $col-default-dark-1, inherit)
  @include link-active('default', $col-default-dark-2, inherit)

  @include link('failure', $col-failure, inherit)
  @include link-hover('failure', $col-failure-dark-1, inherit)
  @include link-active('failure', $col-failure-dark-2, inherit)

  @include link('primary', $col-primary, inherit)
  @include link-hover('primary', $col-primary-dark-1, inherit)
  @include link-active('primary', $col-primary-dark-2, inherit)

  @include link('success', $col-success, inherit)
  @include link-hover('success', $col-success-dark-1, inherit)
  @include link-active('success', $col-success-dark-2, inherit)

  @include link('warning', $col-warning, inherit)
  @include link-hover('warning', $col-warning-dark-1, inherit)
  @include link-active('warning', $col-warning-dark-2, inherit)
