@import ../vars

.mini
  @mixin list-sized($suffix, $border-radius, $font-size, $font-size-ratio, $ver, $hor)
    .list.list-#{$suffix}
      .list-header
        font-size: calc($font-size * ($font-size-ratio - 0.25))

      margin-bottom: $ver
      margin-top: $ver

  .list
    .list-header
      &.sub
        padding-left: calc(var(--d-h) * var(--d-l-m) * 2)
        padding-right: calc(var(--d-h) * var(--d-r-m) * 2)
      
      &.subsub
        padding-left: calc(var(--d-h) * var(--d-l-m) * 3)
        padding-right: calc(var(--d-h) * var(--d-r-m) * 3)

      &:not(:first-child)
        margin-top: calc(var(--d-v) * 2)

      border-radius: var(--d-b-r)
      font-size: calc(var(--d-f-s) * (1.5 - 0.25))
      padding-bottom: var(--d-v)
      padding-left: calc(var(--d-h) * var(--d-l-m))
      padding-right: calc(var(--d-h) * var(--d-r-m))
      padding-top: var(--d-v)

    .list-item
      &.sub
        padding-left: calc(var(--d-h) * var(--d-l-m) * 3)
        padding-right: calc(var(--d-h) * var(--d-r-m) * 3)
      
      &.subsub
        padding-left: calc(var(--d-h) * var(--d-l-m) * 4)
        padding-right: calc(var(--d-h) * var(--d-r-m) * 4)

      border-radius: var(--d-b-r)
      padding-bottom: var(--d-v)
      padding-left: calc(var(--d-h) * var(--d-l-m) * 2)
      padding-right: calc(var(--d-h) * var(--d-r-m) * 2)
      padding-top: var(--d-v)

    .list-header, .list-item
      border: 0
      display: block
      width: 100%

    margin-bottom: var(--d-v)
    margin-top: var(--d-v)

  // color

  .list
    .list-header.active, .list-item.active
      background-color: $col-default-d-2 !important
      border-color: $col-default-d-2
      color: $col

    .list-header, .list-item
      color: $col-default

  .list:is(.default, .failure, .primary, .success, .warning)
    .list-header.active, .list-item.active
      background-color: var(--c-d-2) !important
      border-color: var(--c-d-2)
      color: var(--c)

    .list-header, .list-item
      color: var(--c-i)

  .list.active
    .list-header:active:not(.disabled), .list-item:active:not(.disabled)
      background-color: $col-default-d-2 !important
      border-color: $col-default-d-2
      color: $col
  
    .list-header:hover, .list-item:hover
      background-color: $col-default-d-1 !important
      border-color: $col-default-d-1
      color: $col

  .list.active:is(#{$colors})
    .list-header:active:not(.disabled), .list-item:active:not(.disabled)
      background-color: var(--c-d-2) !important
      border-color: var(--c-d-2)
      color: var(--c)
  
    .list-header:hover, .list-item:hover
      background-color: var(--c-d-1) !important
      border-color: var(--c-d-1)
      color: var(--c)

  @if $sml
    @include list-sized('sml', $sml-border-radius, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @if $med
    @include list-sized('med', $med-border-radius, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @if $lrg
    @include list-sized('lrg', $lrg-border-radius, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  .list
    // &>*
    //   display: block

    &.active
      .list-header, .list-item
        &:hover
          @include hover()

        &:active:not(.disabled)
          @include active()
  
        cursor: pointer
