@import ../vars

.mini
  @mixin list($prefix, $color, $font-weight)
    @if $prefix == null
      .list
        &.active
          .list-header, .list-item, .list-subitem
            &:not(.active):active
              background-color: darken($color, $col-ratio * $col-darken-active-ratio * 100%) !important
              color: white
  
            &:not(.active):hover
              background-color: darken($color, $col-ratio * $col-darken-hover-ratio * 100%)
              color: white
              cursor: pointer
  
        .list-header
          color: darken($color, $col-ratio * $col-darken-ratio * 100%)
          font-weight: $font-weight

        .list-header, .list-item, .list-subitem
          &.active
            background-color: darken($color, $col-ratio * $col-darken-active-ratio * 100%) !important
            color: white
    @else
      .list.#{$prefix}
        &.active
          .list-header, .list-item, .list-subitem
            &:not(.active):active
              background-color: darken($color, $col-ratio * $col-darken-active-ratio * 100%) !important
              color: white

            &:not(.selected):hover
              background-color: darken($color, $col-ratio * $col-darken-hover-ratio * 100%)
              color: white
              cursor: pointer

        .list-header
          color: darken($color, $col-ratio * $col-darken-ratio * 100%)
          font-weight: $font-weight

        .list-header, .list-item, .list-subitem
          &.active
            background-color: darken($color, $col-ratio * $col-darken-active-ratio * 100%) !important
            color: white

  @mixin list-sized($suffix, $border-radius, $font-size, $font-size-ratio, $ver, $hor)
    @if $suffix == null
      .list
        &.active
          .list-header
            &:not(.selected):hover
              padding-left: $hor / 2
  
        .list-header
          &:not(:first-child)
            margin-top: $ver * 2
  
          &.active
            padding-left: $hor / 2

          font-size: $font-size * ($font-size-ratio - 0.25)
          padding: $ver / 2 0 $ver / 2 0

        .list-item
          padding: $ver / 2 0 $ver / 2 $hor * 1.5

        .list-subitem
          padding: $ver / 2 0 $ver / 2 $hor * 3

        .list-header, .list-item, .list-subitem
          border: 0
          border-radius: $border-radius
    @else
      .list.list-#{$suffix}
        .list-header
          font-size: $font-size * ($font-size-ratio - 0.25)

        .list-item, .list-subitem
          font-size: $font-size

        .list-header, .list-item, .list-subitem
          border: 0
          border-radius: $border-radius

  @include list(null, $col-default, 500)

  @include list('default', $col-default, 500)

  @include list('failure', $col-failure, 500)

  @include list('primary', $col-primary, 500)

  @include list('success', $col-success, 500)

  @include list('warning', $col-warning, 500)

  .sml
    @include list-sized(null, $sml-border-radius, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  .med
    @include list-sized(null, $med-border-radius, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  .lrg
    @include list-sized(null, $lrg-border-radius, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  @include list-sized('sml', $sml-border-radius, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @include list-sized('med', $med-border-radius, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @include list-sized('lrg', $lrg-border-radius, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  .list
    &>*
      display: block

    .list-item, .list-subitem
      color: $col-default
