@import ../vars

.mini
  @mixin list($prefix, $color, $font-weight)
    @if $prefix == null
      .list
        .list-header, .list-item
          color: $color
    @else
      .list.#{$prefix}
        .list-header, .list-item
          color: $color

  @mixin list-hover($prefix, $bg-color, $border-color, $color, $transparent-color)
    @if $prefix == null
      .list.active
        .list-header:hover, .list-item:hover
          background-color: $bg-color !important
          border-color: $border-color
          color: $color
    @else
      .list.active.#{$prefix}
        .list-header:hover, .list-item:hover
          background-color: $bg-color !important
          border-color: $border-color
          color: $color

  @mixin list-active($prefix, $bg-color, $border-color, $color, $transparent-color)
    @if $prefix == null
      .list
        .list-header.active, .list-item.active
          background-color: $bg-color !important
          border-color: $border-color
          color: $color

      .list.active
        .list-header:active:not(.disabled), .list-item:active:not(.disabled)
          background-color: $bg-color !important
          border-color: $border-color
          color: $color
    @else
      .list.#{$prefix}
        .list-header.active, .list-item.active
          background-color: $bg-color !important
          border-color: $border-color
          color: $color

      .list.active.#{$prefix}
        .list-header:active:not(.disabled), .list-item:active:not(.disabled)
          background-color: $bg-color !important
          border-color: $border-color
          color: $color

  @mixin list-sized($suffix, $border-radius, $font-size, $font-size-ratio, $ver, $hor)
    @if $suffix == null
      .list
        .list-header
          &.sub
            padding-left: calc($hor * 2)
          
          &.subsub
            padding-left: calc($hor * 3)

          &:not(:first-child)
            margin-top: calc($ver * 2)
  
          font-size: calc($font-size * ($font-size-ratio - 0.25))
          padding: $ver 0 $ver $hor

        .list-item
          &.sub
            padding-left: calc($hor * 3)
          
          &.subsub
            padding-left: calc($hor * 4)

          padding: $ver 0 $ver calc($hor * 2)

        .list-header, .list-item
          border: 0
          // border-radius: $border-radius

        margin-bottom: $ver
        margin-top: $ver
    @else
      .list.list-#{$suffix}
        .list-header
          font-size: calc($font-size * ($font-size-ratio - 0.25))

        // .list-subheader, .list-subsubheader, .list-item, .list-subitem, .list-subsubitem
        //   font-size: $font-size

        // .list-header, .list-subheader, .list-subsubheader, .list-item, .list-subitem, .list-subsubitem
        //   border-radius: $border-radius

        margin-bottom: $ver
        margin-top: $ver

  @include list(null, $col-default, $font-bold)
  @include list-hover(null, $col-default-d-1, $col-default-d-1, $col, $col)
  @include list-active(null, $col-default-d-2, $col-default-d-2, $col, $col)

  @include list('default', $col-default, $font-bold)
  @include list-hover('default', $col-default-d-1, $col-default-d-1, $col, $col)
  @include list-active('default', $col-default-d-2, $col-default-d-2, $col, $col)

  @include list('failure', $col-failure, $font-bold)
  @include list-hover('failure', $col-failure-d-1, $col-failure-d-1, $col, $col)
  @include list-active('failure', $col-failure-d-2, $col-failure-d-2, $col, $col)

  @include list('primary', $col-primary, $font-bold)
  @include list-hover('primary', $col-primary-d-1, $col-primary-d-1, $col, $col)
  @include list-active('primary', $col-primary-d-2, $col-primary-d-2, $col, $col)

  @include list('success', $col-success, $font-bold)
  @include list-hover('success', $col-success-d-1, $col-success-d-1, $col, $col)
  @include list-active('success', $col-success-d-2, $col-success-d-2, $col, $col)

  @include list('warning', $col-warning, $font-bold)
  @include list-hover('warning', $col-warning-d-1, $col-warning-d-1, $col, $col)
  @include list-active('warning', $col-warning-d-2, $col-warning-d-2, $col, $col)

  @if $sml
    .sml
      @include list-sized(null, $sml-border-radius, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @if $med
    .med
      @include list-sized(null, $med-border-radius, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @if $lrg
    .lrg
      @include list-sized(null, $lrg-border-radius, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  @if $sml
    @include list-sized('sml', $sml-border-radius, $sml-font-size, 1.5, $sml-vertical, $sml-horizontal)

  @if $med
    @include list-sized('med', $med-border-radius, $med-font-size, 1.5, $med-vertical, $med-horizontal)

  @if $lrg
    @include list-sized('lrg', $lrg-border-radius, $lrg-font-size, 1.5, $lrg-vertical, $lrg-horizontal)

  .list
    // &>*
    //   display: block

    &.active
      .list-header, .list-item
        &:hover
          @include hover()

        &:active:not(.disabled)
          @include active()
  
        cursor: pointer

    // .list-item, .list-subitem, .list-subsubitem
    //   color: $col-default
