@import ../vars

.mini
  @mixin paragraph-sized($suffix, $ver, $hor)
    .paragraph
      margin-bottom: $ver * 4 !important
      margin-top: $ver * 4 !important

  @if $sml
    .sml
      @include paragraph-sized(null, $sml-vertical, $sml-horizontal)

  @if $med
    .med
      @include paragraph-sized(null, $med-vertical, $med-horizontal)

  @if $lrg
    .lrg
      @include paragraph-sized(null, $lrg-vertical, $lrg-horizontal)

  .paragraph
    // &.paragraph-sml
    //   margin-bottom: $sml-vertical * 3
    //   margin-top: $sml-vertical * 3

    // &.paragraph-med
    //   margin-bottom: $med-vertical * 3
    //   margin-top: $med-vertical * 3

    // &.paragraph-lrg
    //   margin-bottom: $lrg-vertical * 3
    //   margin-top: $lrg-vertical * 3

    display: block
