@import ../vars

.mini
  @mixin splitter-sized($suffix, $height, $ver, $hor)
    .splitter.splitter-#{$suffix}
      height: $height
      min-height: $height
      margin: $ver 0

  .splitter
    height: var(--d-b-w)
    min-height: var(--d-b-w)
    margin: var(--d-v) 0

  // color

  .splitter
    border-top: $col-default-l-3 solid var(--d-b-w)

    &.top
      border-top-color: $col-default

  .splitter:is(#{$colors})
    border-top: var(--c-l-3) solid var(--d-b-w)

    &.top
      border-top-color: var(--c-i)

  @if $sml
    @include splitter-sized('sml', $sml-border-width, $sml-vertical, $sml-horizontal)

  @if $med
    @include splitter-sized('med', $med-border-width, $med-vertical, $med-horizontal)

  @if $lrg
    @include splitter-sized('lrg', $lrg-border-width, $lrg-vertical, $lrg-horizontal)
