@import ../vars

.mini
  @mixin tab-sized($suffix, $border-radius, $border-width, $font-size, $font-size-ratio, $height, $ver, $hor)
    .tabs.tabs-#{$suffix}
      &>.tabs-bar
        &>.tab
          border-top-left-radius: $border-radius
          border-top-right-radius: $border-radius
          border-width: $border-width
          font-size: calc($font-size * 0.8)
          padding: 0 $hor $border-width $hor

          &:not(.active)
            height: calc($height - $border-width * 2)
            margin-top: $border-width
            min-height: calc($height - $border-width * 2)
            padding-bottom: 0

          &.active
            height: $height
            min-height: $height
            margin-bottom: 0
            margin-top: 0
            min-height: $height
            padding-top: $border-width

      &>.tabs-content
        border-radius: $border-radius
        border-width: $border-width
        margin-top: calc($border-width * -1)

  .tabs
    &>.tabs-bar
      &>.tab
        border-top-left-radius: var(--d-b-r)
        border-top-right-radius: var(--d-b-r)
        border-width: var(--d-b-w)
        font-size: calc(var(--d-f-s) * 0.8)
        padding: 0 var(--d-h) var(--d-b-w) var(--d-h)

        &:not(.active)
          height: calc(var(--d-1) - var(--d-b-w) * 2)
          margin-top: var(--d-b-w)
          min-height: calc(var(--d-1) - var(--d-b-w) * 2)
          padding-bottom: 0

        &.active
          height: var(--d-1)
          margin-bottom: 0
          margin-top: 0
          min-height: var(--d-1)
          padding-top: var(--d-b-w)

      padding-left: calc(var(--d-h) - var(--d-b-w))
      padding-right: calc(var(--d-h) - var(--d-b-w))

    &>.tabs-content
      border-radius: var(--d-b-r)
      border-width: var(--d-b-w)
      margin-top: calc(var(--d-b-w) * -1)
      padding: 0 var(--d-h)

    margin-bottom: var(--d-v)
    margin-top: var(--d-v)

  // color

  .tabs
    &>.tabs-bar
      &>.tab
        &:active:not(.disabled)
          background-color: $col-primary-d-2 !important
          border-color: $col-primary-d-2
          color: $col

        &:hover, &:focus
          background-color: $col-primary-d-1 !important
          border-color: $col-primary-d-1
          color: $col

        background-color: $col-primary
        border-color: transparent
        color: $col

      &>.tab:is(.default, .failure, .primary, .success, .warning)
        &:active:not(.disabled)
          background-color: var(--c-d-2) !important
          border-color: var(--c-d-2)
          color: var(--c)

        &:hover, &:focus
          background-color: var(--c-d-1) !important
          border-color: var(--c-d-1)
          color: var(--c)

        background-color: var(--c-i)
        border-color: transparent
        color: var(--c)

      &>.tab.active
        &:hover, &:focus
          background-color: $col !important
          border-color: $col-default-l-4
          color: $col-primary-d-1

        background-color: $col
        border-color: $col-default-l-4
        color: $col-primary

      &>.tab.active:is(.default, .failure, .primary, .success, .warning)
        &:hover, &:focus
          background-color: var(--c) !important
          border-color: var(--c-l-4)
          color: var(--c-d-1)

        background-color: var(--c)
        border-color: var(--c-l-4)
        color: var(--c-i)

    &>.tabs-content
      border-color: $col-default-l-4

  @if $sml
    @include tab-sized('sml', $sml-border-radius, $sml-border-width, $sml-font-size, 1, $sml-1, $sml-vertical, $sml-horizontal)

  @if $med
    @include tab-sized('med', $med-border-radius, $med-border-width, $med-font-size, 1, $med-1, $med-vertical, $med-horizontal)

  @if $lrg
    @include tab-sized('lrg', $lrg-border-radius, $lrg-border-width, $lrg-font-size, 1, $lrg-1, $lrg-vertical, $lrg-horizontal)

  .tabs
    &>.tabs-bar
      &:after
        clear: both

      &:after, &:before
        display: table
        content: " "

      &>.tab
        &:hover:not(.active)
          @include hover()

        &:active:not(.disabled)
          @include active()

        align-items: center
        border-bottom-width: 0 !important
        border-style: solid
        cursor: pointer
        display: flex
        font-weight: bolder
        margin: 0 var(--d-b-w)
        position: relative
        z-index: 0

      &>.tab.active
        cursor: auto
        position: relative
        z-index: 1000

      display: flex
      flex-flow: wrap
      position: relative

    &>.tabs-content
      background-color: $col
      position: relative
      border-style: solid
      z-index: 500

      &.underlined
        border-radius: 0
        border-width: var(--d-b-w) 0 0 0

    position: relative
