@import ../vars

.mini
  @mixin table-sized($suffix, $border-width, $ver, $hor)
    // .table.table-#{$suffix}
    //   &>.row>*, tr
    //     padding-bottom: $ver
    //     padding-top: $ver

    .table.table-#{$suffix}.underlined
      &>.row:after, tr:after
        border-bottom-width: $border-width
        margin: 0 $hor

  .table
    margin-left: calc(var(--d-h) * -1)
    margin-right: calc(var(--d-h) * -1)
    margin-bottom: var(--d-v)
    margin-top: var(--d-v)

  .table.underlined
    &>.row:after, tr:after
      border-bottom-width: var(--d-b-w)
      content: ''
      display: block
      margin: 0 var(--d-h)
      width: 100%

  // color

  .table
    &.underlined
      &>.row
        &:after
          border-bottom-color: $col-default-l-3

        &.header:after
          border-bottom-color: $col-default
      
      tbody>tr:not(.header):after
        border-bottom-color: $col-default-l-3
  
      thead>tr:after, tr.header
        border-bottom-color: $col-default

  @include table-sized('sml', $sml-border-width, $sml-vertical, $sml-horizontal)

  @include table-sized('med', $med-border-width, $med-vertical, $med-horizontal)

  @include table-sized('lrg', $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  .ltr
    .table
      @for $i from 1 through $grid-cells - 1
        @if $i < 10
          .d-#{$i}
            >*:nth-child(#{$i})
              border-right-style: solid
              border-right-width: 1px
              border-color: $col-default-l-3
              padding-right: calc(var(--m-h) - 1px)
            >*:nth-child(#{$i + 1})
              border-left-style: solid
              border-left-width: 1px
              border-color: $col-default-l-3
              padding-left: calc(var(--m-h) - 1px)
        @else
          .d#{$i}
            >*:nth-child(#{$i})
              border-right-style: solid
              border-right-width: 1px
              border-color: $col-default-l-3
              padding-right: calc(var(--m-h) - 1px)
            >*:nth-child(#{$i + 1})
              border-left-style: solid
              border-left-width: 1px
              border-color: $col-default-l-3
              padding-left: calc(var(--m-h) - 1px)

  .table
    &.highlighted>.row:hover:not(.header), &.highlighted>tbody>tr:hover:not(.header)
      background-image: linear-gradient(to right, transparent 0%, var(--c-bg-d-3) 25%, var(--c-bg-d-3) 75%, transparent 100%)

    &.table-inner.underlined>.row:after
      margin: 0

    &.underlined>.row:after
      border-bottom-style: solid
      display: block

    &>.row
      &>*
        align-items: center
        display: flex
        flex: 1
        padding: var(--d-v) var(--m-h)
        text-align: inherit

      &.header
        font-weight: $font-bold
        text-align: center

      margin: 0 !important
      display: flex
      flex-wrap: wrap
      width: 100%

    border-collapse: collapse
    vertical-align: middle

  table.table
    border-spacing: 0
    display: block

    tbody, thead
      display: block
      width: 100%
    
    tr
      display: flex
      flex-wrap: wrap
      width: 100%

    tr:after
      border-bottom-style: solid
      width: 100%
    
    td, th
      align-items: center
      display: flex
      flex: 1
      padding: var(--d-v) var(--m-h)
      text-align: inherit
