@import ../vars

.mini
  @mixin table($prefix, $border-color, $border-color-top)
    @if $prefix == null
      .table
        &>.row
          &>.l
            border-color: $border-color

          &>.r
            border-color: $border-color

        &.underlined
          &>.row
            &:after
              border-bottom-color: $border-color

            &.header:after
              border-bottom-color: $border-color-top
          
          th:after, tr:after
            border-bottom-color: $border-color-top

    @else
      .table.#{$prefix}
        &>.row
          &>.l
            border-left-color: $border-color

          &>.r
            border-right-color: $border-color

        &.underlined
          &>.row
            &:after
              border-bottom-color: $border-color

            &.header:after>th
              border-bottom-color: $border-color-top

          th:after, tr:after
            border-bottom-color: $border-color-top

  @mixin table-sized($suffix, $border-width, $ver, $hor)
    @if $suffix == null
      .table
        margin-left: -$hor
        margin-right: -$hor
        margin-bottom: $ver
        margin-top: $ver

        &>.row>*, th, tr
          padding-bottom: $ver
          padding-top: $ver

      .table.underlined
        &>.row:after, th:after, tr:after
          border-bottom-width: $border-width
          margin: 0 $hor
    @else
      .table.table-#{$suffix}
        &>.row>*, th, tr
          padding-bottom: $ver
          padding-top: $ver

      .table.table-#{$suffix}.underlined
        &>.row:after, th:after, tr:after
          border-bottom-width: $border-width
          margin: 0 $hor

  @include table(null, $col-default-l-3, $col-default)

  .sml
    @include table-sized(null, $sml-border-width, $sml-vertical, $sml-horizontal)

  .med
    @include table-sized(null, $med-border-width, $med-vertical, $med-horizontal)

  .lrg
    @include table-sized(null, $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  @include table-sized('sml', $sml-border-width, $sml-vertical, $sml-horizontal)

  @include table-sized('med', $med-border-width, $med-vertical, $med-horizontal)

  @include table-sized('lrg', $lrg-border-width, $lrg-vertical, $lrg-horizontal)

  .ltr
    .table
      &>.row
        &>.l
          border-left-style: solid
          border-left-width: 1px

        &>.r
          border-right-style: solid
          border-right-width: 1px

  .table
    &.highlighted>.row:hover:not(.header)
      background-image: linear-gradient(to right, transparent 0%, $col-default-l-5 25%, $col-default-l-5 75%, transparent 100%)

    &.table-inner.underlined>.row:after
      margin: 0

    &.underlined>.row:after
      border-bottom-style: solid
      display: block

    &>.row
      &>*
        display: inline-flex
        // float: none !important
        font-size: initial
        // position: static
        vertical-align: inherit

      &.header>*
        font-weight: $font-bold
        text-align: center

      display: table
      font-size: 0
      margin: 0 !important
      vertical-align: inherit
      width: 100%

    thead>th:after, tbody>tr:after
      border-bottom-style: solid

    border-collapse: collapse
    vertical-align: middle
